<section class="column column-left">

    <div class="wr-overlay">
        <figure class="test-result v-center text-white">
            <div class="title-size-biggest" id="resultPercents"></div>
            <figcaption class="title-size-big  uppercase" id="resultCaption"></figcaption>
        </figure>

        <!-- Sidebar -->
        <nav class="sidebar">
            <ul>
                <li><a>название1</a></li>
                <li><a>название2</a></li>
                <li><a>название3</a></li>
                <li><a>название4</a></li>
                <li><a>очень длинное название5</a></li>
                <li><a>очень очень длинное название6</a></li>
                <li><a>длинное название7</a></li>
                <li><a>длинное название8</a></li>
            </ul>
        </nav>
    </div>

</section>

