<article id="screen-1" class="bg-gray active">
    <h2 class="question-marker">Lorem ipsum dolor sit amet,
        consectetur adipiscing elit.
        Integer a urna sit amet
    </h2>
    <div class="button-block block-variants">
        <button class="button variant" data-id="0">Вариант А</button>
        <button class="button variant" data-id="1">Вариант Б</button>
        <button class="button variant" data-id="2">Вариант В</button>
    </div>
    <div class="button-block block-continue">
        <button type="submit" class="button continue button--white" data-href="screen-2" id="next-screen-2" disabled>
            продолжить
        </button>
    </div>
</article>
