<article id="screen-2" class="bg-gray d-none">
    <h2 class="question-marker">Укажите свой пол:</h2>
        <div class="button-block block-variants">
            <button class="button variant" data-id="0"><i class="icon-man"></i>Вариант А</button>
            <button class="button variant" data-id="1"><i class="icon-woman"></i>Вариант Б</button>
        </div>
        <div class="button-block block-continue">
            <button type="submit" class="button continue" data-href="screen-3" id="next-screen-3" disabled>продолжить</button>
        </div>
</article>
