//= parts/header.html

<!-- selected theme: theme--orange || theme--yellow || theme--blue -->
<!-- selected answer: answer--true || answer--false -->

<main class="wrapper theme theme--orange answer--false">

    <!-- Left Screen -->
    //= parts/left-screen.html

    <!-- Right Screen -->
    <section class="column column-right" >

        <!-- Screen - 1 -->
        //= parts/right-screen-1.html

        <!-- Screen - 2 -->
        //= parts/right-screen-2.html

        <!-- Screen - 3 -->
        //= parts/right-screen-3.html

    </section>

</main>

//= parts/footer.html