// Left Screen

.wr-overlay{
  height: 100%;
  background: url("../images/pretty-girl-min.png") no-repeat top center;
  background-size: cover;
}
.column-left{
  padding-right: 6px;

  &>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .test-result{
    flex: auto;

    &>*{
      padding: 0 20px;
      max-width: 740px;
      margin: 0 auto;
    }
    @media (max-width: 1366px) {
      figcaption{
        text-align: center;
      }
    }
  }
}

// Right Screen

.column-right{
  padding-top: 20.7vh;
  padding-left: 6px;
  background-color: transparent;
  transition: all .3s;

  article{
    height: 100%;
    padding: 8.3vh 3.38vw 2.7vh;
    box-sizing: border-box;
  }
  @media (max-width: 1366px) {
    padding-top: 10vh;
    article{
      padding-top: 6vh;
    }
  }
  h2{
    max-width: 550px;
    min-height: 100px;
    margin-bottom: 30px;
    @media (max-width: 1366px) {
      min-height: 80px;
      margin-bottom: 25px;
    }
  }
}
.block-variants{
  min-height: 285px;
  margin-bottom: 90px;
  .button{
    width: 100%;
    max-width: 385px;
    margin-bottom: 17px;
  }
  @media (max-width: 1366px) {
    min-height: 200px;
    margin-bottom: 20px;
    max-width: 300px;
  }
}
.block-continue{
  .button{
    margin-left: 40px;
  }
}
.form-block{
  max-width: 470px;
}